@inherits LayoutComponentBase
<div class="page">
    <main>
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core?wt.mc_id=studentamb_197162" target="_blank">Learn more
                about >> </a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
